.gallery-category, .gallery-all { margin:10px 0; overflow:hidden; }
.field-field-gallery-image .field-item, .album-wrapper { width:24%; float:left;}
.album { width:160px; margin:5px auto; }
.album .album-title { text-align:center; }
.test {color:#fff;}
